{% extends 'admin/base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Emailuser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.iduser }}</td>
                <td>{{ user.nomuser }}</td>
                <td>{{ user.prenompersonne }}</td>
                <td>{{ user.emailuser }}</td>
                <td>
                    <a href="{{ path('user_show', {'iduser': user.iduser}) }}">show</a>
                    <a href="{{ path('user_edit', {'iduser': user.iduser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
