{% extends 'base.html.twig' %}

{% block title %}Typetransaction{% endblock %}

{% block body %}
    <h1>Typetransaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idtypetransaction</th>
                <td>{{ typetransaction.idtypetransaction }}</td>
            </tr>
            <tr>
                <th>Nomtransaction</th>
                <td>{{ typetransaction.nomtransaction }}</td>
            </tr>
            <tr>
                <th>Datedebuttransaction</th>
                <td>{{ typetransaction.datedebuttransaction ? typetransaction.datedebuttransaction|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefintransaction</th>
                <td>{{ typetransaction.datefintransaction ? typetransaction.datefintransaction|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typetransaction_index') }}">back to list</a>

    <a href="{{ path('typetransaction_edit', {'idtypetransaction': typetransaction.idtypetransaction}) }}">edit</a>

    {{ include('typetransaction/_delete_form.html.twig') }}
{% endblock %}
