{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Liste des objets qque vous possédez actuellement, {{ user }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom de l'objet</th>
            <th>Propriétaire de l'objet</th>
            <th>Présentation de l'objet</th>
            <th>Est-il encore disponible ?</th>
        </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.idobjet }}</td>
                <td>{{objet.idproprietaire}}</td>
                <td>{{ objet.nomobjet }}</td>
                <td>{{ objet.descriptionobjet }}</td>
                <td>{{ objet.disponible ? 'Yes' : 'No' }}</td>
                <td><a class="link_show" href="{{ path('add_photo_to_objet', {'id': objet, 'id_objet':objet.idobjet}) }}">Ajouter une image descriptive à l'objet</a></td>
                <td><a href="{{ path('objet_show', {'idobjet': objet.idobjet}) }}">show</a></td>
                <td><a href="{{ path('objet_edit', {'idobjet': objet.idobjet}) }}">edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objet_new') }}">Create new</a>
{% endblock %}
