{% extends 'base.html.twig' %}

{% block title %}Objet{% endblock %}

{% block body %}
    <h1>{{ objet.nomobjet }}</h1>

    <p>Objet {{ objet.disponible ? 'disponible' : 'indisponible' }}</p>

    {% for photo in photosObjet %}
        <img style="width:300px;height:300px;" src="{{ base_url }}{{ photo.cheminphoto }}"/>
    {% endfor %}

    <p><br />{{ objet.descriptionobjet }}</p>

    {% if is_granted("OBJET_EDIT", objet) %}
        <a class="btn btn-primary" href="{{ path('add_photo_to_objet', {'idobjet':objet.idobjet}) }}">Ajouter une image</a>
        <a class="btn btn-secondary" href="{{ path('objet_edit', {'idobjet': objet.idobjet}) }}">Modifier</a>
        {{ include('objet/_delete_form.html.twig') }}
        <br/>
        <br/>
        {% if DemandesObjet is not null %}
          <br/>
            <h2>Demandes faites pour cet objet :</h2>

            {% for conversation in DemandesObjet %}
                    <p>{{ conversation.idconversation }}</p>
                    <p>{{ conversation.contenu }}</p>
                    <p>{{ conversation.date }}</p>
                    <p> {{ conversation.idenvoyeur }}</p>
                    <p>
                    <a href="{{ path('conversation_show', {'idconversation': conversation.idconversation}) }}">show</a>
            {% else %}
                <p>Il n'y a aucune conversations pour le moment...</p>
            {% endfor %}
        {% endif %}
    {% else %}
        <a class="btn btn-primary" href="{{ path('conversation_new', {'objet': objet.idobjet}) }}">Contacter {{ objet.idproprietaire }}</a>
    {% endif %}

    <a class="btn btn-secondary" href="{{ path('objet_index') }}">Retour à la page d'accueil</a>

{% endblock %}
