{% extends 'base.html.twig' %}

{% block title %}Conversation index{% endblock %}

{% block body %}
    <h1>Conversation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idconversation</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conversation in conversations %}
            <tr>
                <td>{{ conversation.idconversation }}</td>
                <td>{{ conversation.contenu }}</td>
                <td>{{ conversation.date }}</td>
                <td>
                    <a href="{{ path('conversation_show', {'idconversation': conversation.idconversation}) }}">show</a>
                    <a href="{{ path('conversation_edit', {'idconversation': conversation.idconversation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('conversation_new') }}">Create new</a>
{% endblock %}
